<html>
    <head>
        <title>
       form     
        </title>
    </head>
    <body><br>
        <h1><center>Add New User</center></h2><br>
          <form action="/post" method="post">
            
            <center>    <input type="text" name="textname" class="form-control" placeholder="Name">
              <br><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </center>
          </form>
    </body>
</html>