<html>
    <head>
        <title>Title {{ name }}  </title>
    </head>
            <body bgcolor="red"><br>
<h3><center>History of the North American {{ name }}
</center></h3><br>
<br><p>Prior to European settlement, an estimated 10 million elk roamed nearly all
of what is now the United States and parts of Canada. Elk adapted to almost all
ecosystems except the tundra, true deserts and the Gulf Coast. Today, about 1
million elk live in the western,central and eastern United States and from Ontario, 
into western Canada.</p>
<button type="menu">Learn more</button>

            </body>
      
</html>